.asteroid {
  z-index: 4;
  position: fixed;
  margin: 0px;
  animation: asteroid 4s linear forwards;
}

@keyframes asteroid{
  0%{
    transform: translate3d(110vw, 0, 0);
  }
  100%{
    transform: translate3d(-10vw, 0, 0);
  }
}
