body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
}

h2 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 200%;
}

.logo {
  position: relative;
  left: 30px;
  top: -5px;
  width: 75px;
  height: 75px;
  display: inline;
  float: left;
}

.center-text{
  position: relative;
  left: -25px;
  width: 100%;
  text-align: center;
}

.navbar{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 20px;
  list-style-type: none;
  margin: 0px -10px;
  padding: 0;
  overflow: hidden;
  background-color: #F9519A;
  position: sticky;
  top: 0;
}

.navbar li{
  float: left;
  border-right:3px solid rgb(255, 255, 255);
}

.navbar li a{
  display: inline-block;
  color: #270986;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a:hover:not(.active) {
  color: #D9C2C2;
}

.active {
  background-color: #9740F9;
}

#bird{
  z-index: 3;
  position: absolute;
  left: 50px;
  top: 300px;
}

.sliding-bg {
  z-index: 1;
  position: fixed;
  margin: 0;
  background: url("../img/main_bg.png") repeat-x;
  height: 500px;
  width: 13635px;
  animation: slide 90s linear infinite;
  width: 9000px;
  height: 74%;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3030px, 0, 0);
  }
}

.sliding-asteroid {
  z-index: 3;
  position: fixed;
  margin: 0px;
  background: url("../img/asteroid_layer.png") repeat-x;
  height: 500px;
  height: 100%;
  width: 6060px;
  animation: slide2 30s linear infinite;
}

@keyframes slide2{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3030px, 0, 0);
  }
}

.sliding-galaxy {
  z-index: 2;
  position: fixed;
  margin: 0px;
  background: url("../img/galaxy_layer.png") repeat-x;
  height: 500px;
  width: 9090px;
  animation: slide2 60s linear infinite;
}

@keyframes slide2{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3030px, 0, 0);
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
