@charset "UTF-8";
/* CSS Document */

h1 {
  font-family: 'Lobster', cursive;
  font-size: 400%;
}

h2 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 250%;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
}

.center-text{
position: relative;
  left: -25px;
  width: 100%;
  text-align: center;
}

ul.navbar{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 200%;
  list-style-type: none;
  margin: 0px -10px;
  padding: 0;
  overflow: hidden;
  background-color: #F9519A;
  position: sticky;
  top: 0;

}

ul.navbar li{
  float: left;
  border-right:3px solid rgb(255, 255, 255);

}

ul.navbar li a{
  display: inline-block;
  color: #270986;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li:last-child {
  border-right: none;
}

ul.navbar li a:hover:not(.active) {
  color: #D9C2C2;
}

.active {
  background-color: #9740F9;
}

.main {
  margin-left: 6px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.viewer {
  overflow: hidden;
}

.bird {
  z-index: 3;
  margin: 50px;
  position: fixed;
}

.sliding-bg {
  z-index: 1;
  position: fixed;
  margin: 0;
  background: url("images/main_bg.png") repeat-x;
  height: 600px;
  width: 9090px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3030px, 0, 0);
  }
}

.sliding-asteroid {
  z-index: 2;
  position: fixed;
  margin: 0px;
  background: url("images/asteroid_layer.png") repeat-x;
  height: 600px;
  width: 6060px;
  animation: slide2 30s linear infinite;
}

@keyframes slide2{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3030px, 0, 0);
  }
}

.container {
  margin: 50px 150px;
  width: 45%;
  align-self: center;
  background-color: white;
  padding: 50px;
}

ul.card {
  margin: 50px;
  list-style-type: none;
}

li.card {
  width: 350px;
  background-color:#3E72F0;
  margin: 10px 0px;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-align: center;
  color: rgb(255, 255, 255);
}

.desc {
  padding: 5px 50px;
  background-color: white;
  width: 250px;
  color: black;
}
